body {
	background: rgb(177, 132, 132);
	font-family: sans-serif;
}

.Container {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#loginForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#username {
    height: 25px;
    border-radius: 5px;
}
#password {
    height: 25px;
    border-radius: 5px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

nav li {
	display: inline;
}

nav li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

nav li a:hover {
	background-color: #ddd;
}

section {
	margin-bottom: 30px;
}

h2 {
	margin-top: 0;
}

button {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 80px;
    background-color: aqua;
}
button:hover {
    background-color: rgb(74, 74, 218);
    color: #f1f1f1;
}